header, footer, aside, nav, article { display: block; }
body {
    color: #444;
    padding: 10px;
    margin: 0;
    font-family: Helvetica, Arial, FreeSans, san-serif;
}
#masthead { height: 150px; }
#masthead img { display: block; margin-left: auto; margin-right: auto; }

nav { margin-left: 130px;  }

nav ul {
    list-style: none;
    display: block;
    float: left;
}
nav ul li {
    float: left;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
nav ul li a { font-size: 28px; }

a { text-decoration: none; color: #888; }
a:hover { color: #222; background: #ccc; }

#content { height: 100%; width: 100%; }
aside { float: left; }
aside ul { list-style: none; }
#content article { margin: 0 0 0 170px; }
.clear { clear: both; }
footer { height: 30px; text-align: center;}
pre { background: #000; color: #fff; padding: 15px;}
