<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/maglev.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/highlight.css" type="text/css" media="screen" />
  </head>

  <body>
    <header id="masthead">
      <img src="/images/maglev-logo.gif" alt="MagLev" height="150"/>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs/download.html">Install</a></li>
        <li><a href="/docs/get_started.html">Documentation</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
    <div class="clear"></div>

    <section id="content">
      {{ content }}
    </section>

    <footer>
    </footer>
  </body>
</html>
